TRABAJO-2-master/TRABAJO-2-master/Alumnos y Asignaturas/Web References/AlumnosAsignaturaWS/MiWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GuardarAlum">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellidoPat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellidoMat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mail" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="matricula" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarAlumResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GuardarAlumResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarAsig">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="creditos" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GuardarAsigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GuardarAsigResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listarAlumn">
        <s:complexType />
      </s:element>
      <s:element name="listarAlumnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarAlumnResult" type="tns:ArrayOfAlumnos" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAlumnos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Alumnos" nillable="true" type="tns:Alumnos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Alumnos">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IDAlumno" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoPAt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApellidoMat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroMatricula" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="listarAsig">
        <s:complexType />
      </s:element>
      <s:element name="listarAsigResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listarAsigResult" type="tns:ArrayOfAsignaturas" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAsignaturas">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Asignaturas" nillable="true" type="tns:Asignaturas" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Asignaturas">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CodigoAsignatura" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NombreAsignatura" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Creditos" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GuardarAlumSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarAlum" />
  </wsdl:message>
  <wsdl:message name="GuardarAlumSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarAlumResponse" />
  </wsdl:message>
  <wsdl:message name="GuardarAsigSoapIn">
    <wsdl:part name="parameters" element="tns:GuardarAsig" />
  </wsdl:message>
  <wsdl:message name="GuardarAsigSoapOut">
    <wsdl:part name="parameters" element="tns:GuardarAsigResponse" />
  </wsdl:message>
  <wsdl:message name="listarAlumnSoapIn">
    <wsdl:part name="parameters" element="tns:listarAlumn" />
  </wsdl:message>
  <wsdl:message name="listarAlumnSoapOut">
    <wsdl:part name="parameters" element="tns:listarAlumnResponse" />
  </wsdl:message>
  <wsdl:message name="listarAsigSoapIn">
    <wsdl:part name="parameters" element="tns:listarAsig" />
  </wsdl:message>
  <wsdl:message name="listarAsigSoapOut">
    <wsdl:part name="parameters" element="tns:listarAsigResponse" />
  </wsdl:message>
  <wsdl:portType name="MiWSSoap">
    <wsdl:operation name="GuardarAlum">
      <wsdl:input message="tns:GuardarAlumSoapIn" />
      <wsdl:output message="tns:GuardarAlumSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GuardarAsig">
      <wsdl:input message="tns:GuardarAsigSoapIn" />
      <wsdl:output message="tns:GuardarAsigSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarAlumn">
      <wsdl:input message="tns:listarAlumnSoapIn" />
      <wsdl:output message="tns:listarAlumnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listarAsig">
      <wsdl:input message="tns:listarAsigSoapIn" />
      <wsdl:output message="tns:listarAsigSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MiWSSoap" type="tns:MiWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarAlum">
      <soap:operation soapAction="http://tempuri.org/GuardarAlum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarAsig">
      <soap:operation soapAction="http://tempuri.org/GuardarAsig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarAlumn">
      <soap:operation soapAction="http://tempuri.org/listarAlumn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarAsig">
      <soap:operation soapAction="http://tempuri.org/listarAsig" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MiWSSoap12" type="tns:MiWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GuardarAlum">
      <soap12:operation soapAction="http://tempuri.org/GuardarAlum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarAsig">
      <soap12:operation soapAction="http://tempuri.org/GuardarAsig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarAlumn">
      <soap12:operation soapAction="http://tempuri.org/listarAlumn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listarAsig">
      <soap12:operation soapAction="http://tempuri.org/listarAsig" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MiWS">
    <wsdl:port name="MiWSSoap" binding="tns:MiWSSoap">
      <soap:address location="https://localhost:44324/MiWS.asmx" />
    </wsdl:port>
    <wsdl:port name="MiWSSoap12" binding="tns:MiWSSoap12">
      <soap12:address location="https://localhost:44324/MiWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>